{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block head_title %} DataSense | Home{% endblock %}</title>
	{% block styles %} {% endblock %}	
	<link rel="stylesheet" href="{% static "site/css/main.css"  %}">
	<script type="text/javascript" src="{% static "site/js/jquery.min.js" %}"></script>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script>
	$(function() {

		// grab the initial top offset of the navigation 
		var sticky_navigation_offset_top = $('#sticky_navigation').offset().top;
		
		// our function that decides weather the navigation bar should have "fixed" css position or not.
		var sticky_navigation = function(){
			var scroll_top = $(window).scrollTop(); // our current vertical position from the top
			
			// if we've scrolled more than the navigation, change its position to fixed to stick to top, otherwise change it back to relative
			if (scroll_top > sticky_navigation_offset_top) { 
				$('#sticky_navigation').css({ 'position': 'fixed', 'top':0, 'left':0 });
			} else {
				$('#sticky_navigation').css({ 'position': 'relative' }); 
			}   
		};
		
		// run our function on load
		sticky_navigation();
		
		// and run it again every time you scroll
		$(window).scroll(function() {
			 sticky_navigation();
		});
	});
	</script>	
</head>
<body >
	<noscript>
		<div id="no-js">Please enable JavaScript in your browser to experience elementaryos.org fully</div>
	</noscript>

<!-- STICKY NAVIGATION -->

	<div id="demo_top_wrapper">

		<div id="demo_top">
			<div class="demo_container">
				<div id="my_logo">Our logo</div>
			</div>
		</div>

		<div id="sticky_navigation_wrapper">
			<div id="sticky_navigation">
				<div class="demo_container">
					<ul>
						<li><a href="#" class="selected">HOME</a></li>
						<li><a href="#">ABOUT US</a></li>
						<li><a href="#">SERVICES</a></li>

						<li><a href="#">CLIENTS</a></li>
						<li><a href="#">PARTNERS</a></li>
						<li><a href="#">CONTACT</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- #demo_top_wrapper -->

<!-- END STICKY NAVIGATION -->

	<div id="page-container">
		<div>
			<div id="page-content">
				<div id="content">	
				    {% block content %}

				    {% endblock %}									
				</div>
			</div>
		</div>
	</div>
	<footer>
			<div class="footer-940">
				footer content here
				<div class="clearboth"></div>
			</div>
			<div class="clearboth"></div>
		</footer>
	</body>
</html>
